@charset "UTF-8";
/* CSS Document */


/* entypo */
[class*="roboto-"]:before {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  background-color: #f7f6eb;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

header {
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  background-color: #74d4b3; 
  position: fixed;
  top: 0px;
}



#logo {
  color: white;
  font-family: 'Meddon', cursive;
  font-size: 2.1em;
  text-decoration: none;
  display: inline-block;
  float: left;
  text-align:center;
  padding-left: 30px;
}

/*#menu {
  float: right;
  color: white;
  font-size: 2.6em;
  text-decoration: none;
  margin-top: 13px;
}*/

.bdexample {
	clear: left;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style: none;
  float: left;
}


nav ul li a {
  width: 100px;
  padding: 15px 25px;
  display: inline-block;
  background-color: white;
  color: #74d4b3;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1em;
  text-decoration: none;
  border-bottom: 1px dashed #74d4b3;
}

nav ul li a:hover {
  color: white;
  background-color: #74d4b3;
}

section article {
  width: 92%;
  margin: 0 auto;
  padding: 3%;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 0.8em;
}

section h1 {
  width: 92%;
  margin: 0px auto;
  margin-top: 100px;
  padding: 3%;
  background-color: white;
  color: #515151;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  font-size: 2em;
}

section #works, section #about, section #contact {
  width: 98%;
  margin: 10px auto;
  padding: 0px;
}

section h2 {
  width: 100%;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 3em;
  text-align: center;
  background-color: #ef8974;
  margin: 15px 0px;
  padding: 15px 0px;
}

section .work {
  margin: 15px auto;
  background-color: white;
}

section .work div {
  width: 100%;
  height: 60px;
  background-color: #eee;
  margin: 10px auto;
  font-size:36px;
}

section .about  {
  margin: 15px auto;
  background-color: white;
  padding: 20px;
}

section h3 {
  width: 100%;
  color: #515151;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 3em;
  text-align: center;
  margin: 0px;
  padding: 15px 0px;
}

section .work p {
  padding: 5px 20px;
  background-color: white;
}

div .awesomestuff {
	text-align: center;
}

section .contact textarea {
  width: 94%;
  height: 200px;
  margin: 0px auto;
  padding: 3%;
  border: none;
  color: #515151;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.4em;
  font-weight: 400;
}

section .contact input {
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.4em;
  font-weight: 600;
  text-align: center;
  background-color: #ed6e64;
  border: none;
  margin-top: 10px;
  padding: 5px 20px;
}

footer {
  
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  background-color: #74d4b3;
}
